@import 'src/assets/scss/variables';

.pp-toolbar {
  display: flex;
  box-sizing: border-box;
  padding: 0 $pp-spacing-md;
  width: 100%;
  height: 64px;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  background-color: $primary-color;
  color: $white-color;
}
