<pp-header></pp-header>

<main class="section__container">
  <div class="container content">
    <pp-card-text-field>
      <input
        pp-input
        name="title"
        placeholder="O que encontrou?"
        autocomplete="off"
        type="text">
      <textarea
        pp-input
        placeholder="Como era?"
        autocomplete="off"
        name="description"></textarea>
    </pp-card-text-field>

    <div class="section__cards">
      <h1 class="section__title">Descobertas</h1>

      <div class="cards__list">
        <pp-card>
          <span pp-card-title>Título</span>
          <span pp-card-description>Descrição</span>
          <span pp-card-footer>Footer</span>
        </pp-card>
      </div>
    </div>
  </div>
</main>
