@import 'src/assets/scss/variables';

.pp-card {
  @extend %card;

  &__content {
    display: flex;
    flex-direction: column;
    margin-bottom: $pp-spacing-sm;
    padding: $pp-spacing-md $pp-spacing-sm;

    [pp-card-title] {
      font-size: 16px;
      color: $black-color;
      margin-bottom: $pp-spacing-md;
    }

    [pp-card-description] {
      font-size: 14px;
      color: $grey-color;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $pp-spacing-md $pp-spacing-sm;
    border-top: 1px solid $grey-color-light;

    [pp-card-footer] {
      font-size: 12px;
      color: $grey-color;
    }

    .footer__action {
      opacity: 0;
      transition: opacity .15s ease-out;

      [pp-button] {
        margin-left: $pp-spacing-sm;
      }

      .pp-card:hover & {
        opacity: 1;
      }

      @media (max-width: $device-width-tablet) {
        opacity: 1;
      }
    }
  }
}
